@import 'bourbon';
@import 'neat';
@import "../libs/lumx/dist/scss/lumx";

$brkv-blue: #0172b3;

@font-face {
    font-family: 'lane';
    src: url('../fonts/LANENAR_.ttf');
}

@font-face {
    font-family: 'honey';
    src: url('../fonts/HoneyScript-Light.ttf');
}

html {
	background-color: #333333;
}

// header styles

header {
	min-height: 350px;
	@media (max-width: 700px){
		overflow: auto;
	}
	@media (max-width: 440px){
		min-height: 250px;
	}
	background-image: url(../img/bg1.png);
	border-bottom: solid 2px #737373;
}

.header-content {
	padding-top: 2em;
}

#indian, #mottos {
	display: inline-block;
}

#indian {
	@media (max-width: 700px){
		display: none;
	}
}

#mottos {
	vertical-align: top;
	padding-top: 1.5em;
	@media (max-width: 700px){
		margin-left: 10em;
	}
	@media (max-width: 684px){
		margin-left: 3em;
	}
	@media (max-width: 500px){
		margin-left: 0;
	}
	@media (max-width: 440px){
		display: none;
	}
}

#header-text {
	color: white;
	font-family: 'lane', arial;
	width: 40%;
	@media (max-width: 1540px){
		width: 50%;
	}
	@media (max-width: 1235px){
		width: 60%;
	}
	@media (max-width: 1030px){
		width: 75%;
	}
	@media (max-width: 824px){
		width: 90%;
	}
	margin: auto;
}

#header-director {
	margin-left: 20em;
	@media (max-width: 700px){
		margin-left: 0;
	}
}

.motto {
	font-family: 'honey';
	font-size: 2.5em;
	display: block;
	background-image: url(../img/brush.png);
	background-position: bottom left;
	background-repeat: no-repeat;
	background-size: 200px 20px;
	&:nth-of-type(2){
		margin-left: 2em;
	}
	&:nth-of-type(3){
		margin-left: 4em;
	}
	&:nth-of-type(4){
		margin-left: 6em;
	}
}

// view styles

.view-container {
	min-height: calc(100vh - 500px);
}

.content {
	padding: 60px 30px 30px;
}

// twitter styles

.twitter-container {
	width: 282px;
	padding: 10px;
	margin-top: 2em;
	background-color: $brkv-blue;
}

.twitter-title, .twitter-bottom {
	color: white;
	font-family: 'lane';
	font-size: 1.5em;
	font-weight: normal;
}

.twitter-title {
	padding-bottom: 10px;
}

.twitter-bottom {
	padding-top: 10px;
	text-align: right;
}

// footer styles 

footer {
	height: 50px;
	font-family: 'lane', arial;
	text-align: center;
	color: white;
}

.copyright {
	padding: 1em 0;
}

a {
	&:link, &:visited, &:hover, &:active {
		color: $light-blue-600;
		text-decoration: none;
	}

}

// nav styles 

nav {
	background-color: $amber-200;
	text-align: center;
	-webkit-box-shadow: 0 5px 25px 7px #0A0A0A;
	box-shadow: 0 5px 25px 7px #0A0A0A;
	.btn:hover {
		background-color: $amber-300;
	}
	margin-bottom: 50px;
}

.nav-dropdown {
	margin-top: -2em;
}

// main content 

.view-container {
	width: 80%;
	max-width: 1200px;
	margin: 0 auto;
	overflow: visible;
	-webkit-box-shadow: 3px 3px 10px 0 #0A0A0A;
	box-shadow: 3px 3px 10px 0 #0A0A0A;
}

// ribbon courtesy of http://codepen.io/pavelsuraba/pen/AyrfI
.ribbon {
	font-family: 'lane', arial;
    position: relative;
    top: 30px;
    margin-left: -20px;
    padding: 10px;
    display: inline-block;
    min-width: 250px;
    clear: both;
    background: $amber-200;
    text-indent: 40px;
    box-shadow: 1px 1px 2px #000;
    
    &:after {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      left: 0;
      top: 101%;
      border-right: 19px solid grey;
      border-bottom: 10px solid transparent;
	}
}