<div class='ribbon'>
	<h2>Director of Bands</h2>
</div>
<div class='content'>
	<div class='director'>
		<img class='director-pic' src='./assets/img/doc.png'>
		<div class='director-contact'>
			<span>Dr. Timothy F Stevenson, Director of Bands</span>
			<span>tstevenson@brookvillebands.com</span>
			<span>(814) 849-8372 Ext:2132</span>
		</div>
		<div class='director-bio'>
			<p>Dr. Timothy F. Stevenson is the Director of Bands and the Music Department Chair at Brookville Area Jr./Sr. High School.  His duties include directing the Junior and Senior High Concert Bands, Jazz Band, and teaching Music Theory.  Dr. Stevenson received his Bachelor of Science in Music Education, a Master’s of Arts (trumpet performance), and a Doctor of Education in Curriculum and Instruction from Indiana University of Pennsylvania.</p>
			<p>Dr. Stevenson acts as guest lecturer at several universities were he gives talks to undergraduate and graduate education majors on a variety of educational issues facing public school educators today. Additionally,   he is an active performer/soloist in the surrounding communities performing with several community ensembles as well as the ‘Corner Brass Quintet’.</p>
			<p>He is an active member of the Association of Teacher Educators (ATE), the National Education Association (NEA), the Pennsylvania State Education Association (PSEA), the Pennsylvania Music Educators Association (PMEA), and the Honors Society of Phi Kappa Phi.  Dr. Stevenson was also inducted into the prestigious International Bandmasters Fraternity of Phi Beta Mu in 2009.</p>
			<p>In addition to his teaching duties, Dr. Stevenson currently serves as Music Advocacy chair for PMEA District 3 and serves on the PMEA Advancement of Music Education committee.</p>
		</div>
	</div>
	<div class="divider divider--dark spacy-divider"></div>
	<div class='director'>
		<img class='director-pic' src='./assets/img/deanna.png'>
		<div class='director-contact'>
			<span>Miss Deanna Owens, Assistant Band Director</span>
			<span>dowens@basd.us</span>
			<span>(814) 849-8372 Ext:2131</span>
		</div>
		<div class='director-bio'>
			<p>Miss Owens received a Bachelor’s degree of Music (voice concentration) from Westminster College in May 2011. She is the director of the 6th grade choir, junior high choir, senior high choir, and chamber singers. She also teaches 6th grade general music at Hickory Grove Elementary. She is the current vocal director of the Brookville High School fall musical and is the assistant marching band director.</p>
			<p>Miss Owens has performed in various musical and operatic productions throughout the area. She was most recently seen in the Marlin Opera house performance of Side by Side by Sondheim in May 2013 in Brookville, PA. In the summer of 2009, Miss Owens traveled to Verona, Italy to participate in the program Opera Viva! While there, she studied voice under opera star June Anderson.</p>
			<p>She is an active member of the Pennsylvania State Education Association (PSEA), the National Education Association (NEA), and the Pennsylvania Music Educators Association (PMEA).</p>
		</div>
	</div>
</div>