<div class='ribbon'>
	<h2>Brookville Bands</h2>
</div>
<div class='content'>
	<p>Welcome to the webpage of the Brookville Bands in Brookville, Pennsylvania! See the most recent news about the bands in the News and Twitter sections below. Visit our <a href='#/calendar'>calendar page</a> to view upcoming events. Current students and parents, please visit the <a href="#/student_parent_info">Student/Parent Info page</a> and select the appropriate link. We can't wait to see you at our next event!</p>
	<div class='announcements'>
		<h2 class='announcement-heading'>News</h2>
		<div class='dashed-divider'></div>
		<p class='announcement-heading'></p>
		<p>- <a target="_blank" href='./documents/welcome-letter.pdf'>Mr. Kyle Grabigel's welcome letter </a> (PDF 166kb)</p>
		<p>- See the <a href='#/calendar'>Calendar page </a> for the most updated 2017-2018 events</p>
	</div>
	<div class='twitter-container'>
		<h2 class='twitter-title'><i class="mdi mdi-twitter-circle"></i> Updates</h2>
		<div class='twitter-component'>
			<a class="twitter-timeline" data-chrome="noheader nofooter" data-tweet-limit="5" width="100%" height="323"  href="https://twitter.com/BrookvilleBands"  data-widget-id="322018277599625218">Updates by @BrookvilleBands</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
			</script>
		</div>
		<div class='twitter-bottom'>
			<span>#BrookvilleBands</span>
		</div>
	</div>
	
</div>