<div class='ribbon'>
	<h2>Brookville Bands</h2>
</div>
<div class='content'>
	<p>Welcome to the Brookville Bands website! Our bands range from grades 7-12 and encompass many different styles of ensembles. This is your one-stop destination for information about ensembles, event dates/times, band boosters, and current/future happenings related to the band program. Be sure to come back often and check for future updates. We can't wait to see you at our next event!</p>
	<div class='twitter-container'>
		<h2 class='twitter-title'><i class="mdi mdi-twitter-circle"></i> Updates</h2>
		<div class='twitter-component'>
			<a class="twitter-timeline" data-chrome="noheader nofooter" data-tweet-limit="5" width="100%" height="323"  href="https://twitter.com/BrookvilleBands"  data-widget-id="322018277599625218">Updates by @BrookvilleBands</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
			</script>
		</div>
		<div class='twitter-bottom'>
			<span>#BrookvilleBands</span>
		</div>
	</div>
	<div class='announcements'>
		<h2>Announcements</h2>
		Florida Trip: <a href='./documents/itinerary.pdf' target='_blank'>Itinerary (PDF 710kb)</a>
	</div>
</div>